# Streamlit & 데이터 처리
streamlit==1.33.0
pandas
numpy
# 시각화
plotly==5.19.0
matplotlib
seaborn
altair
pydeck
koreanize-matplotlib
# 머신러닝 & 통계
scikit-learn
xgboost
lightgbm
catboost
shap
optuna
imbalanced-learn
statsmodels
prophet
ruptures
# 유틸리티 & 기타
pillow
requests
joblib
PyYAML
tqdm
python-dateutil
pyarrow
networkx
graphviz